mixin calidad(moderno1, moderno2, calidad1, calidad2, atencion1, atencion2)
  article.calidad
    div.calidad-container
      div.calidad-container-moderno
        .calidad-moderno-img.all-img.img-moderno
        h3.calidad-moderno-title.all-title= moderno1
        span.calidad-moderno-description.all-decrip= moderno2
      div.calidad-container-calidad
        .calidad-calidad-img.all-img.img-calidad
        h3.calidad-calidad-title.all-title= calidad1
        span.calidad-calidad-description.all-decrip= calidad2
        .img-two
      div.calidad-container-atencion
        .calidad-atencion-img.all-img.img-atencion
        h3.calidad-atencion-title.all-title= atencion1
        span.calidad-atencion-description.all-decrip= atencion2
