mixin pasos_diseno(title1, subtitle1, title2, subtitle2, title3, subtitle3, title4, subtitle4)
  article.pasos_diseno
    .opacity.item_diseno
      .pasos_diseno-estructura
        span.pasos_diseno-estructura-img
        h3.pasos_diseno-estructura-title.color= title1
        span.pasos_diseno-estructura-subtitle.color2= subtitle1
    .opacity.item_diseno.none_diseno
      .pasos_diseno-img1
    .opacity.item_diseno
      .pasos_diseno-flujo
        span.pasos_diseno-flujo-img
        h3.pasos_diseno-flujo-title.color= title2
        span.pasos_diseno-flujo-subtitle.color2= subtitle2
    .opacity.item_diseno
      .pasos_diseno-maquetacion
        span.pasos_diseno-maquetacion-img
        h3.pasos_diseno-maquetacion-title.color= title3
        span.pasos_diseno-maquetacion-subtitle.color2= subtitle3
    .opacity.item_diseno
      .pasos_diseno-produccion
        span.pasos_diseno-produccion-img
        h3.pasos_diseno-produccion-title.color= title4
        span.pasos_diseno-produccion-subtitle.color2= subtitle4
