mixin calidad_servicio_diseno(moderno1, moderno2, calidad1, calidad2, atencion1, atencion2)
  article.calidad-servicio_diseno
    div.calidad-servicio_diseno-container
      div.calidad-servicio_diseno-container-moderno
        .calidad-servicio_diseno-moderno-img.all-img.img-moderno-servicio_diseno
        h3.calidad-servicio_diseno-moderno-title.all-title-servicio= moderno1
        span.calidad-servicio_diseno-moderno-description.all-decrip-servicio= moderno2
      div.calidad-servicio_diseno-container-calidad
        .calidad-servicio_diseno-calidad-img.all-img.img-calidad-servicio_diseno
        h3.calidad-servicio_diseno-calidad-title.all-title-servicio= calidad1
        span.calidad-servicio_diseno-calidad-description.all-decrip-servicio= calidad2
        .img-two
      div.calidad-servicio_diseno-container-atencion
        .calidad-servicio_diseno-atencion-img.all-img.img-atencion-servicio_diseno
        h3.calidad-servicio_diseno-atencion-title.all-title-servicio= atencion1
        span.calidad-servicio_diseno-atencion-description.all-decrip-servicio= atencion2
