mixin servicio(image, title, subtitle, image2, title2, subtitle2, image3, title3, subtitle3)
  article.servicio
    .opacity-servicio
      .servicio-diseno.flex
        .servicio-diseno-img.todo
          .photo(style=`background-image: url(${image});`)
        .servicio-diseno-title.titulo= title
        .servicio-diseno-subtitle.titulo2= subtitle
        a(href="./diseno.html").btnn Leer más
    .opacity-servicio
      .servicio-app.flex
        .servicio-app-img.todo
          .photo(style=`background-image: url(${image2});`)
        .servicio-app-title.titulo= title2
        .servicio-app-subtitle.titulo2= subtitle2
        a(href="./app.html").btnn Leer más
    .opacity-servicio
      .servicio-seo.flex
        .servicio-seo-img.todo
          .photo(style=`background-image: url(${image3});`)
        .servicio-seo-title.titulo= title3
        .servicio-seo-subtitle.titulo2= subtitle3
        a(href="./seo.html").btnn Leer más
